.nav-title {
  height: 35px;
  line-height: 35px;
}

.input-25 {
  width: auto;
}
.input-30 {
  width: 30%;
}
.input-20 {
  width: 20%;
}

.input-left,
.input-right {
  width: 49%;
}

.preview-img,
.preview-img-edit {
  display: inline-block;
  width: 25%;
  border: double grey;
}

.preview-input,
.preview-input-edit {
  width: 70%;
  height: 43px;
}

.days-checkbox {
  display: flex;
  padding: 0 !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.days-checkbox label {
  line-height: 24px;
}

.help-block {
  font-size: 14px;
  font-style: italic;
  color: red;
  margin-bottom: 5px;
}

.invalid-warning {
  margin-left: 12px;
  font-size: 14px;
  font-style: italic;
  color: red;
  margin-bottom: 5px;
}

.preview-user-img {
  border: 1px solid grey;
  height: 200px;
  width: 100%;
  display: block;
  margin: 5px auto 0;
  padding: 5px;
  object-fit: contain;
}

input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-left: 0;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-check label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #3b5998;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -3px;
  margin-left: -15px;
  margin-right: 5px;
  border-radius: 5px;
}

.form-check input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 11px;
  width: 6px;
  height: 13px;
  border: solid #3b5998;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-day-check label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #3b5998;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -3px;
  margin-left: 0;
  margin-right: 5px;
  border-radius: 5px;
}

.form-day-check input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 6px;
  width: 6px;
  height: 13px;
  border: solid #3b5998;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-day-check input[type="checkbox"]:focus {
  border: solid rgb(156, 64, 110);
}

.fa-angle-up {
  padding-top: 30%;
}

.stu-img-table {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
  border: 1px solid #30497c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.new {
  padding: 8px 40px;
  background-color: #3b5998;
  color: white;
  border-radius: 5px;
}

.new:hover {
  text-decoration: none;
  background-color: #043bb3c0;
  color: white;
}
.table {
  text-align: center;
}

.table-lg {
  margin: 15px auto;
  width: 100%;
}

.days-badges {
  display: inline-block;
  text-align: center;
  line-height: 27px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  border-radius: 50%;
  color: whitesmoke;
  background-color: #556fa8f3;
  margin: 1px;
}

.login-card {
  margin-top: 20% !important;
}

.tb-btn {
  border: none;
  padding: 5px 10px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #ffffff;
}
.tb-btn-edit {
  background-color: #335baa;
}
.tb-btn-delete {
  background-color: tomato;
}
.tb-row {
  cursor: pointer;
}
.tb-row:hover {
  background-color: #eff5ff;
}

.preview-input-edit {
  display: none;
}
.upload-label {
  display: block;
  background-color: #30497c;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.form-group p {
  display: inline;
}

.pending-badge {
  font-weight: normal;
  font-size: small;
  font-style: italic;
  padding: 2px 8px;
  color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.setting-title {
  font-size: 28px;
  color: #335baa;
}

.transaction-label {
  font-weight: 800;
}

.transaction-data {
  text-align: right;
  padding-right: 10px;
}

.card-block {
  display: block;
  height: 100%;
}

.show-bank-account {
  color: #335baa;
  font-style: italic;
  font-weight: 600;
}

#deleteConfirmTitle {
  font-size: 24px;
  font-weight: 700;
  color: rgb(209, 28, 28);
}

.delete-bank-form {
  margin: 30px 20px;
}

.delete-bank-form label {
  font-weight: 700;
  font-style: italic;
}

.delete-bank-form input {
  margin-left: 5px;
  padding: 5px 10px;
  border-color: royalblue;
}

.delete-bank-form input:focus {
  outline: none;
}

.show-password {
  border: none;
  max-width: fit-content;
  margin: 5px 5px;
  padding: 0 10px 10px;
  color: #3b5998;
}

.show-password:focus {
  outline: none;
}

.show-password:disabled {
  background-color: white;
}

.show-block {
  display: block;
}

.pswd-hide,
.pswd-show {
  margin-left: 20px;
  color: #3b5998;
}

.mychart-left,
.mychart-right {
  max-height: 300px;
  width: 45%;
}
.my-chart-full {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
canvas {
  margin-top: 20px;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filter-select-block {
  margin: 0 1px;
  padding: 25px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: #5685e2;
}

.no-data {
  margin: 30px;
  color: red;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.link:hover {
  text-decoration: none;
}

.pending-col {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.pending-badges {
  text-align: center;
  font-size: 20px;
}

.uname-link a {
  color: #858796;
  text-decoration: underline;
}

.uname-link a:hover {
  color: #5685e2;
}

.my-required-field {
  font-style: italic;
  color: red;
  font-size: 13px;
  margin-left: 10px;
  /* border: 1px solid red; */
  padding: 1px 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.enrol-name {
  font-size: 24px;
  font-weight: bold;
  color: orange;
}
.payment-badge {
  color: #ffffff;
  background-color: #5685e2;
  width: max-content;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.payment-badge label {
  line-height: 30px;
}

.section-gp {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.section-hr-badge {
  background-color: orange;
  color: #ffffff;
  padding: 3px 5px;
  font-size: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.tb-scroll {
  max-height: 160px;
  overflow-y: scroll;
  padding-right: 10px;
}
.note-scroll {
  white-space: break-spaces;
}

/* .note-scroll::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
.tb-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.tb-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.tb-scroll::-webkit-scrollbar-thumb {
  background-color: #6393f1;
}
.tb-scroll::-webkit-scrollbar-thumb:hover {
  background: #1a5de4;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* tab style start */

.tabs {
  margin: 0 auto;
  width : 100%;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  display: none;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  font-size: 16px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #f5f5f5;
  border: 1px solid #5c5454;
  width: 150px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* .tabs > label:not(:first-of-type) {
  border-left: none;
} */

.tabs > input[type="radio"]:checked + label {
  background-color: #1a5de4;
  color : #ffffff;
  /* border-bottom: 1px solid #fff; */
}

/* tab style end  */

@media only screen and (max-width: 991px) {
  .mychart-left,
  .mychart-right {
    width: 90%;
    margin: 0 auto;
  }
  .mychart-right {
    margin-top: 50px;
  }
  .my-chart-full {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .input-left,
  .input-right,
  .input-25,
  .input-20,
  .input-30 {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .preview-img,
  .preview-input,
  .preview-input-edit {
    width: 100%;
    margin-bottom: 10px;
  }
}
